.ProfileHeader {
        padding: 3rem 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .profile-image {
            grid-row: 1 / -1;
            position: relative;
            .upload-icon {
                position: absolute;
                left: 6%;
                top:6%;
                font-size: 26px;
                width: 40px;
                height: 40px;
                text-align: center;
                border-radius: 50%;
                background-color: white;
                color: rgb(38, 38, 38);
                box-shadow: #00000030 0 10px 20px -5px;
                transition:  all 0.3s ease-in-out;

                @media (max-width: 425px) {
                    left: 3%;
                    top:3%;
                }
                @media (max-width: 325px) {
 
                    font-size: 20px;
                    width: 30px;
                    height: 30px;
                }

                &:hover, &:focus {
                    color: #fb3b88;
                    transform: scale(0.9);
                    box-shadow: #00000000 0 10px 50px;

                }
            }
        }

        .profile-info {
            display: flex;
            flex-direction: column;

            .profile-username {
                font-size: 2.3rem;
                font-weight: 300;
                @media (max-width: 735px) {
                    font-size: 1.5rem;
                }
            }
 
        } 
        .profile-numbers {
            .numbers{
                font-weight: 800;  
            }
        } 


}
