.user-result.FollowButton {
    position: absolute;
    bottom: 15px;
}

.FollowButton {
    $base-color: #fb3b88;

    
    .btn {
        width: 120px;
        margin-top: 5px;
        height: 35px;
        padding: 3px 20px;
        transition: all 0.3s ease-in-out;
        box-sizing: border-box;

    }
    .follow-btn {
        background-color:$base-color;
        color: white;
        &:hover{
           background-color: darken($base-color, 10%);
        }
      
    }
    .unfollow-btn {
        background-color: none;
        border: 2px solid $base-color ;
        color: $base-color;
    }

}