.FollowButton {
    $base-color: #fb3b88;
    
    .btn {
        min-width: 120px;
        min-height: 32px;
        padding: 3px 20px;
        transition: all 0.3s ease-in-out;

    }
    .follow-btn {
        background-color:$base-color;
        color: white;
        &:hover{
           background-color: darken($base-color, 10%);
        }
      
    }
    .unfollow-btn {
        background-color: none;
        border: 2px solid $base-color ;
        color: $base-color;
    }

}