$lg-avatar: 200px;
$md-avatar: 40px;
$sm-avatar: 25px;

.Avatar {
    box-sizing: content-box;
    border-radius: 50%;
}
.avatarLink{
    width: auto;
}

.avatar-lg {
    width: $lg-avatar;
    height: $lg-avatar;
    border: 3px solid white;
    
    @media (max-width: 425px) {
        width: 120px;
        height: 120px; 
    }
    @media (max-width: 320px) {
        width: 80px;
        height: 80px; 
    }

}
.avatar-md {
    width: $md-avatar;
    height: $md-avatar;
}
.avatar-sm {
    width: $sm-avatar;
    height: $sm-avatar;
}