.PostPage2 {
    margin: 30px 0;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: white;

    ::-webkit-scrollbar {
        width: 0; 
    }

    .image-wrapper {
        border-right: 1px solid #eeeeee;

        .image {
            object-fit: cover;
            object-position: center center;
            height: 100%;
            width: 100%; 
        }

    }
   
    .post-details {
        position: relative;
        
        .header {   
            display: flex;
            padding: 0 1rem;
            align-items: center;
            height: 80px;
        }
        .username-date {
            margin-left: 10px;
            line-height: 1rem;
        }
        .likes{
            margin-left: auto;
            padding: 10px;

        }
        .comments-count {
            font-size: 1.5rem;
        }
    }
    .caption {
        font-weight: 600;
        font-size: 14px;
        padding: 0 0 1rem 1rem;
        border-bottom: 1px solid #eeeeee;
        position: relative;
        overflow: hidden;
        height: 40px;

        ::before, ::after {
            position: absolute;
            font-size: 80px;
            color: #00000009;
            top: -40%;
        }
        ::before, ::after {
            content: '“';
            left: -2%;
        }
        ::after {
            content: '”';
            left: 91%;
        }
    }
    
    .comments{ 
        max-height:600px;
        overflow-y: scroll;

        @media (max-width: 768px) {
            max-height: 50vh; 
        }
    }
    .fade-out{
        background: linear-gradient( 180deg,#ffffff00, #fff);
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 300px;
        @media (max-width: 991px) {
            display: none; 
        }
    }
    
}

