.UploadAvatar{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    
    .form-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
    h5{
        margin-top: 20px;
        text-align: center;
    }
    input[type="file"] {
        display: none;
    }

    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .remove-icon {
            position: absolute;
            left: 8%;
            top:8%;
            font-size: 26px;
            width: 40px;
            height: 40px;
            text-align: center;
            border-radius: 50%;
            background-color: white;
            color: rgb(38, 38, 38);
            box-shadow: #00000030 0 10px 20px -5px;
            transition:  all 0.3s ease-in-out;
            cursor: pointer;
            z-index: 3;

            @media (max-width: 425px) {
                left: 8%;
                top:8%;
            }
            @media (max-width: 325px) {
                font-size: 23px;
                width: 33px;
                height: 33px;
            }

            &:hover, &:focus {
                color: #fb3b88;
                transform: scale(0.9);
                box-shadow: #00000000 0 10px 50px;

            }
        }


        .image-upload {
            border: 1px solid #ccc;
            padding: 6px 12px;
            cursor: pointer;
            width: 250px;
            height: 250px;
            font-size: 10rem;
            text-align: center;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            transition: all 0.3s ease-in-out;

            // @media (max-width: 425px) {
            //     font-size: 4rem;
            // }

            .upload-icon {
                color: black;
            }

            .preview{
                position: absolute;
                top: 0;
                left: 0;
                width: inherit;
                background-color: white;
                object-fit: cover;
                object-position: center center;
                height: 100%;
                width: 100%; 
                transition: all 0.3s ease-in-out;



                &:hover {
                   opacity: 0.3;
                   @media (max-width: 425px) {
                        opacity: 1;
                    }
                }
            }
        }

        .ErrorMessage {
            color: #cc0033;
            font-size: 14px;
            margin-top: 10px;
            text-transform:uppercase;
            text-align: center;
            transition: all 0.3s ease-in-out;
        }


        .btn {
            width: 85px;
            height: 85px;
            text-align: center;
            background: radial-gradient(122.57% 122.57% at 113.4% 7%, #B83C9F 3.58%, #D51C68 33.37%, #D71A65 35%, #E55143 52.06%, #F17E27 65%, #FCED2F 100%);
            border-radius: 50%;
            border: 3px solid white;
            color: white;
            transition: all 0.3s ease-in-out;
            font-size: 15px;

            &:hover {
                transform: scale(1.1) ;
            }
            
        }
    }

}