.SearchResult{
    a {
        text-decoration: none;
    }
    .date {
        font-size: 0.8em;
        color: rgb(189, 189, 189);
    } 

    .user{
        background-color: white;
        border: 1px solid #dbdbdb;
        border-radius: 3px;
        padding:20px;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: rgb(243, 243, 243);
            transform: translate(0,3px);
            cursor: pointer;
        }
        &:active {
            background-color: rgb(243, 243, 243);
            transform: translate(0,6px);
            cursor: pointer;
        }
    }


}