.passwordToggle {
    position: absolute;
    right: 25px;
    bottom: 5px;
    text-align: center;
    font-size: 1.3em;
    padding: 3px;
    color: #b1b1b1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.2s;
    border-radius: 50% !important;

    &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.5);
    }
    &:active {
        transform: scale(0.75);
    }
}